/* card.css */

p.card {
  align-self: flex-start;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0.5vh;
  background-color: blue;
}

.card-align {
  /* Création d'une div englobant le rendering de chaque carte */
  /* inline-flex est ce qui m'a permis d'aligner les cartes */
  display: inline-flex;
}
.pioche .card-container {
  /* Création d'une div englobant le rendering de chaque carte */
  /* inline-flex est ce qui m'a permis d'aligner les cartes */
  position: relative;
  width: 80px;
  height: 100px;
}
.pioche {
  margin-bottom: 50px;
}
/* Style for the card container */
.card-container {
  position: relative;
  width: 150px;
  height: 200px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 16px;
  margin: 0 -10px; /* Adjust the margin between cards */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s linear, box-shadow 0.2s linear; /* Adjust duration and timing function */
  z-index: 1; /* Set initial z-index */
  will-change: transform;
}

.card-container:hover {
  transform: translateZ(0) scale(1.1); /* Adjust the scale factor as needed */
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.7); /* Adjust the color and size of the glow as needed */
  z-index: 2;
}

/* Style for the card title */
.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: rgb(232, 232, 232);
}

/* Style for the card description */
.card-description {
  font-size: 14px;
  margin: 8px 0;
  color: rgb(232, 232, 232);
}

/* Style for card details (rarity and type) */
.card-details {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin: 4px 0;
  color: rgb(232, 232, 232);
}

/* Style for cost */
.card-cost {
  display: flex;
  position: absolute;
  top: 8px; /* Adjust this value to control vertical positioning */
  right: 8px; /* Position it in the top right corner */
  background-color: rgb(26, 26, 26);
  color: #eaeaea;
  padding: 4px 8px;
  width: 1.9rem;
  border-radius: 50%;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
/* Style for 'attack' type */
.card-attack {
  background-color: red;
}

/* Style for 'skill' type */
.card-skill {
  background-color: blue;
}

/* Style for 'power' type */
.card-power {
  background-color: green;
}
