body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34; /* Fond noir pour tout le corps de la page */
  color: white; /* Couleur du texte par défaut */
  overflow: hidden; /* Empêche le débordement de contenu en dehors de la fenêtre */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-header {
  padding: 20px;
  background-color: #282c34;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.button {
  background-color: #61dafb;
  color: rgb(50, 50, 50);
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 150px;
}

.button:hover {
  background-color: #4fa3d1;
}
